.sign-up-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  margin: 2rem 0;

  .sign-up-form-left-sec {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 500px;
    background-color: map-get($theme-colors, dark-orange-color);

    .sign-up-form-contant {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 2rem;
      width: 100%;

      .sign-up-heading {
        font-family: Gilroy-Medium;
        text-transform: capitalize;
        text-align: left;
        color: map-get($theme-colors, primary-color);
      }

      .sign-up-detail-text {
        text-transform: capitalize;
        font-family: Gilroy-Medium;
        text-align: left;
        color: map-get($theme-colors, primary-color);
        padding: 1rem 0;
      }

      .sign-up-break-line {
        width: 100%;
        border: 1px solid map-get($theme-colors, secondary-color);
      }

      .form-fileds {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
        flex-direction: column;
        width: 100%;

        .roll-section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .roll-selection-message {
            font-size: 22px;
            color: map-get($theme-colors, primary-color);
            text-transform: capitalize;
            font-family: Gilroy-Medium;
            width: 40%;
          }

          .roll-select-option {
            width: 60%;
          }
        }

        .name-field {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          width: 100%;

          .f-l-name-field {
            display: flex;
            width: 45%;
          }
        }

        .email-field,
        .password-field {
          display: flex;
          width: 100%;
        }
      }
    }
    .sign-up-btn-sec {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  .sign-up-form-right-sec {
    width: 35%;

    .sign-up-bg {
      background-image: url("./../../assets/img-icon/sign-up-bg.jpg");
      background-position: center;
      background-position-x: 45%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
    }
  }
}
