$theme-colors: (
  primary-color: #314455,
  secondary-color: #644e5b,
  text-color: #97aabd,
  light-orange-color: #c96567,
  dark-orange-color: #9e5a63,
  box-shadow-color: rgba(0, 179, 136, 0.35),
);
